* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 346px;
  justify-content: center;


}

.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding: 44px 0 34px 0;


}

.menu a {
  text-decoration: none;
}

nav {
  display: flex;
  gap: 346px;
}

header img {
  padding: 16px 0 16px 0;
  width: 160px;
  height: 100px;
}

nav div {

  list-style-type: none;
  padding: 34px 0 34px 0;
  border: none;
  border-radius: 5px;
}

nav .btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 44px;
  width: 164px;
  background-color: #469165;
  border-radius: 4px;
  border: none;

}

nav .btn:hover {
  box-shadow: 0 0 5px 3px rgb(177, 174, 174);
  cursor: pointer;
}

main {
  background-image: url("assets/hero-bg.png");
  height: 674px;
  width: 1600;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

main .c-1 {
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500px;
  width: 229px;
  height: 35px;
  color: #469165;
}

.c-1:hover {
  box-shadow: 0 0 5px 3px rgb(177, 174, 174);
  cursor: pointer;
}

main .span-2 {
  color: #30B868;
  font-size: 65px;

}

main .span-1 {
  color: white;
  font-size: 65px;

}

main p {
  font-size: 18px;
  color: white;
}

main .btn-1 {
  font-size: 16px;
  font-weight: 700;
  color: white;
  height: 52px;
  width: 251px;
  background-color: #469165;
  border-radius: 4px;
  border: none;
}

.btn-1:hover {
  box-shadow: 0 0 5px 3px rgb(177, 174, 174);
  cursor: pointer;
}

main .btn-2 {
  font-size: 16px;
  font-weight: 700;
  color: white;
  height: 52px;
  width: 251px;
  background-color: transparent;
  border-radius: 4px;
  margin-left: 16px;
  border: 1px solid white;
}

.btn-2:hover {
  box-shadow: 0 0 5px 3px rgb(177, 174, 174);
  cursor: pointer;
}

.btn-parent {
  margin-top: 32px;

}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.notes h2 {
  font-size: 48px;
  font-weight: bold;
}

.notes p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.subsec {
  background-color: red;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subsec img {
  height: 32px;
  width: 32px;
  /* padding: 6px; */

}

.sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  /* border: 1px solid red; */
  width: 322px;
  height: 300px;
  box-shadow: 1px 1px 50px 15px rgb(241, 238, 238);

}

.sec h3 {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.sec p {
  color: #627382;
  font-size: 18px;
  font-weight: 400;
}

.main-sec {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  margin-top: 44px;
}

.brain {
  display: flex;
  margin-top: 120px;
  width: 1360px;
  height: 600px;
  margin-left: 120px;

}

.brain .bro {
  /* margin-left: 60px; */
  display: flex;
  padding: 102px 0 102px 60px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;


}

.brain ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.brain p {
  color: #627382;
  font-size: 16px;
  font-weight: 400px;

}

.brain h1 {
  font-size: 48px;
  font-weight: bold;
}

.brain h6 {
  color: #469165;
  font-size: 14px;
  font-weight: 300px;
}

.brain ul img {
  height: 14px;
  width: 14px;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F6F2;
  width: 1300px;
  height: 384px;
  gap: 20px;
}

.marks {
  display: flex;
  justify-content: center;
  margin: 120px;
}

.bg p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.bg h2 {
  font-size: 40px;
  font-weight: bold;


}

.bg h6 {
  font-size: 16px;
  font-weight: 300;
  color: #627382;
}

.bg button {
  border: none;
  border-radius: 4px;
  background-color: #469165;
  color: white;
  width: 194px;
  height: 52px;

}

.bg button:hover {
  box-shadow: 0 0 5px 3px rgb(177, 174, 174);
  cursor: pointer;
}

.footer {
  background-color: #001931;
  width: 1580;
  height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1100px;

}

.foot {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.foot i {
  background-color: white;
  border-radius: 50%;
  color: black;
  height: 22px;
  width: 22px;
  padding: 4px;
}

footer {
  background-color: #001931;
  display: flex;
  justify-content: center;
}

footer div {

  width: 1100px;
  height: 65px;
  border-top: 1px solid #8e8d8d4a;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */

}

footer h6 {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
}